<h1>
  <% @anotherEntry.each do |e| %>
    <%= e.user.name %>さんとのチャット
  <% end %>
</h1>
<div class="container">
  <div class"row">
    <% @messages.each do |m| %>
      <div class="col-md-6 offset-md-3">
        <%= m.user.name %>: <%= m.message %>
      </div>
    <% end %>
  </div>
</div>

<%= render "post_comments/error", obj:@message %>

<div>
  <%= form_with model: @message, rocal:true do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿"%>
  <% end %>
</div>
