<div class='my-4'>
  <h5 class='text-center font-weight-bold m-0'>関連するタグ</h5>
  <!-- Styles -->
  <style>
    #chartdiv {
      width: 300px;
      height: 350px;
    }
  </style>


  <!-- HTML -->
  <div id="tag_info" data-json="<%=  @results.to_json %>"></div>
  <div id="chartdiv"></div>



  <!-- Chart code -->
  <script>
      am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        const chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
        chart.fontFamily = "Courier New";
        const series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
        series.randomness = 0.1;
        series.rotationThreshold = 0.5;

        series.data = JSON.parse(document.getElementById('tag_info').dataset.json);

        series.dataFields.word = "tag";
        series.dataFields.value = "count";

        series.maxFontSize = am4core.percent(20);
        series.minFontSize = am4core.percent(5);

        series.heatRules.push({
            "target": series.labels.template,
            "property": "fill",
            "min": am4core.color("#0000CC"),
            "max": am4core.color("#CC00CC"),
            "dataField": "value"
        });

        series.labels.template.url = "https://e367016fe1e844c2b818277d30c8f55c.vfs.cloud9.us-east-1.amazonaws.com/books?tag={word}";
        series.labels.template.tooltipText = "{word}: {value}";

        const hoverState = series.labels.template.states.create("hover");
        hoverState.properties.fill = am4core.color("#FF0000");

        const subtitle = chart.titles.create();
        // subtitle.text = "(click to open)";

        // const title = chart.titles.create();
        // title.text = "派生するタグ";
        // title.fontSize = 20;
        // title.fontWeight = "800";

    }); // end am4core.ready()
  </script>
</div>


<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<table class="table">
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to following_user_path(user) do %>
        <%= user.following.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_path(user) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>
<div class="d-flex">
  <div>
    <% unless user == current_user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class: "btn btn-success text-nowrap" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success text-nowrap" %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% unless user.id == current_user.id %>
      <% if current_user.following?(user) && user.following?(current_user) %>
        <% if @room.present? %>
          <%= link_to "チャットを始める", room_path(@room), class: "btn btn-link text-nowrap" %>
        <% else %>
          <%= form_with model: @new_room, local:true do |f| %>
            <%= fields_for @new_entry do |e| %>
              <%= e.hidden_field :user_id, value: user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class:"btn btn-link" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
    <%= link_to edit_user_path(user.id), class:"btn btn-sm btn-block btn-outline-secondary mt-4" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
</div>

<h2 class="mt-3">New book</h2>
<%= form_with model: book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Ooinion' %>
    <%= f.text_area :body, class:"form-control" %>
  </div>
  <div class='form-group'>
    <%= label_tag :name,'Top Tag' %>
    <%= text_field_tag :name, params[:name], class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tag_name, 'Tag' %>
    <div id="tag">
      <%= javascript_pack_tag 'hello_vue' %>
    </div>
  </div>

  <!--<script>-->
  <!--  new Vue ({-->
  <!--    el: '#new-tag',-->
  <!--    data () {-->
  <!--        return {-->
  <!--          tags:  [],-->
  <!--          newTag: null,-->
  <!--        }-->
  <!--    },-->
  <!--    methods: {-->
  <!--      setTag: function (event) {-->
  <!--        if (event.keyCode !== 13) return-->
  <!--        var tag = this.newTag;-->
  <!--        this.tags.push(tag);-->
  <!--        this.newTag = '';-->
  <!--      },-->
  <!--      delTag: function(tag) {-->
  <!--        this.tags.splice(this.tags.indexOf(tag), 1);-->
  <!--      },-->
  <!--    }-->
  <!--  })-->
  <!--</script>-->

  <div class="form-group" id="star">
    <%= f.label :evaluation, "Rate" %>
    <%= f.hidden_field :evaluation, id: :review_star %>
    <script>
      $('#star').empty();
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'book[evaluation]',
        half: true
      });
    </script>
  </div>

  <div class="form-group">
    <%= f.button "Create Book", type:"button", onclick:"submit();", class:"btn btn-success" %>
  </div>
<% end %>
