<ul class="nav nav-tabs mb-2">
  <% if @tag_names.present? %>
    <% if @tag_names.count == 1 %>
      <li class="nav-item">
        <%= link_to books_path(content: params[:content]), remote:true do %>
          <p class="nav-link <%= "active" if params[:page_flag] != 'change2' %>" data-toggle="tab">”<%= params[:content] %>” に関する記事</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to books_path(content: params[:content], page_flag: 'change2' ), remote:true do %>
          <p class="nav-link <%= "active" if params[:page_flag] == 'change2' %>" data-toggle="tab">”<%= params[:content] %>” を含む記事</p>
        <% end %>
      </li>
    <% elsif @tag_names.count >= 2 %>
      <li class="nav-item">
        <%= link_to books_path(content: params[:content]), remote:true do %>
          <p class="nav-link <%= "active" if params[:page_flag] != 'change4' %>" data-toggle="tab">”<%= params[:content] %>” を全て含む記事</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to books_path(content: params[:content], page_flag: 'change4' ), remote:true do %>
          <p class="nav-link <%= "active" if params[:page_flag] == 'change4' %>" data-toggle="tab">”<%= params[:content] %>” を一部含む記事（関連度順）</p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>


<% books.each do |book|%>
  <div class="container mb-3 py-3 rounded book-item">
    <div class="row border-bottom pb-2 align-items-center">
      <div class="col-md-2 col-4">
        <%= link_to user_path(book.user) do %>
          <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" %>
        <% end %>
      </div>
      <div class="col-md-2 col-6 text-break">
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= book.top_tag.name %>
      </div>
      <div class="col-md-2">
        <span class="d-inline-block d-md-none my-2 mr-1">category: </span>
          <% book.tags.each do |tag| %>
            <%= link_to books_path(tag: tag.tag_name) do %>
              <%= tag.tag_name %>
            <% end %>
          <% end %>
      </div>
      <div class="col-md-4 text-break">
        <%= book.body.truncate(71, omission: '...') %>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-md-2 favorite-btn<%= book.id %>">
        <%= render "favorites/favorite", book:book %>
      </div>

      <div class="col-md-3">
        コメントの数: <%= book.post_comments.count %>
      </div>
      <div class="col-md-3">閲覧数: <%= book.book_count %></div>

      <div class="col-md-4" id="star_evaluation_<%= book.id %>">
        <script>
        $('#star_evaluation_<%= book.id %>').empty();
        $('#star_evaluation_<%= book.id %>').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= book.evaluation %>
        });
        </script>
      </div>
    </div>
  </div>
<% end %>
<%= paginate books, remote: true %>

<!--<script type="module">-->
<!--  new Vue ({-->
<!--    el: 'search',-->
<!--    data() {-->
<!--      return {-->
<!--        keyword: '',-->
<!--        memos: '',-->
<!--      }-->
<!--    },-->

<!--    mounted: function() {-->
<!--      this.setBook();-->
<!--    },-->

<!--    methods: {-->
      <!--// onInput: function(){-->
      <!--//   axios.get('/books', {-->
      <!--//     params: {-->
      <!--//       content: this.keyword-->
      <!--//     }-->
      <!--//   })-->
      <!--// },-->
<!--      setBook: function () {-->
<!--        axios.get('/api/books')-->
<!--        .then(response => {-->
<!--          this.memos = response.data;-->
<!--        });-->
<!--      },-->
<!--    }-->
<!--  })-->
<!--</script>-->

<!--<script>-->
<!--  new Vue ({-->
<!--    el: '#search',-->
<!--    data() {-->
<!--      return {-->
<!--        books: JSON.parse(document.getElementById('books_json').dataset.json),-->
<!--        keyword: '',-->
<!--      }-->
<!--    },-->

    <!--methods: {-->
    <!--  bindKeyword({ target }) {-->
    <!--    this.keyword =  target.value;-->
    <!--  }-->
    <!--},-->

    <!--computed: {-->
    <!--  filteredBooks: function () {-->
    <!--    let filterBooks = [];-->
    <!--    for (let i in this.books) {-->
    <!--        let book = this.books[i];-->
    <!--        if (book.title.indexOf(this.keyword) !== -1) {-->
    <!--          filterBooks.push(book);-->
    <!--        }-->
    <!--    }-->
    <!--    return filterBooks;-->
<!--      }-->
<!--    }-->
<!--  })-->
<!--</script>-->

<!--<table class="table mb-0 book-table">-->
<!--<tr>-->
<!--  <th class='col-2'></th>-->
<!--  <th class='col-2'>Title</th>-->
<!--  <th class='col-2'>Category</th>-->
<!--  <th class='col-6'>Opinion</th>-->
<!--</tr>-->
<!--</table>-->
<!--<% books.each do |book|%>-->
<!--  <div class="container mb-3 py-3 rounded book-item">-->
<!--    <div class="row border-bottom pb-2 align-items-center">-->
<!--      <div class="col-md-2 col-4">-->
<!--        <%= link_to user_path(book.user) do %>-->
<!--          <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" %>-->
<!--        <% end %>-->
<!--      </div>-->
<!--      <div class="col-md-2 col-6 text-break">-->
<!--        <%= link_to book_path(book) do %>-->
<!--          <%= book.title %>-->
<!--        <% end %>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span class="d-inline-block d-md-none my-2 mr-1">category: </span>-->
<!--          <% book.tags.each do |tag| %>-->
<!--            <%= link_to books_path(tag: tag.tag_name) do %>-->
<!--              <%= tag.tag_name %>-->
<!--            <% end %>-->
<!--          <% end %>-->
<!--      </div>-->
<!--      <div class="col-md-6 text-break">-->
<!--        <%= book.body.truncate(71, omission: '...') %>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row py-2">-->
<!--      <div class="col-md-2 favorite-btn<%= book.id %>">-->
<!--        <%= render "favorites/favorite", book:book %>-->
<!--      </div>-->

<!--      <div class="col-md-3">-->
<!--        コメントの数: <%= book.post_comments.count %>-->
<!--      </div>-->
<!--      <div class="col-md-3">閲覧数: <%= book.book_count %></div>-->

<!--      <div class="col-md-4" id="star_evaluation_<%= book.id %>">-->
<!--        <script>-->
<!--        $('#star_evaluation_<%= book.id %>').empty();-->
<!--        $('#star_evaluation_<%= book.id %>').raty({-->
<!--          size     : 36,-->
<!--          starOff:  '<%= asset_path('star-off.png') %>',-->
<!--          starOn : '<%= asset_path('star-on.png') %>',-->
<!--          starHalf: '<%= asset_path('star-half.png') %>',-->
<!--          half: true,-->
<!--          readOnly: true,-->
<!--          score: <%= book.evaluation %>-->
<!--        });-->
<!--        </script>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--<% end %>-->

<!-- Styles -->
<!--<style>-->
<!--    #chartdiv {-->
<!--        width: 100%;-->
<!--        height: 600px;-->
<!--    }-->
<!--</style>-->


<!-- HTML -->
<!--<div id="tag_info" data-json="<%=  @results.to_json %>"></div>-->
<!--<div id="chartdiv"></div>-->



<!-- Chart code -->
<!--<script>-->
<!--    am4core.ready(function() {-->

        // Themes begin
<!--        am4core.useTheme(am4themes_animated);-->
        // Themes end

<!--        const chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);-->
<!--        chart.fontFamily = "Courier New";-->
<!--        const series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());-->
<!--        series.randomness = 0.1;-->
<!--        series.rotationThreshold = 0.5;-->

<!--        series.data = JSON.parse(document.getElementById('tag_info').dataset.json);-->

<!--        series.dataFields.word = "tag";-->
<!--        series.dataFields.value = "count";-->

<!--        series.heatRules.push({-->
<!--            "target": series.labels.template,-->
<!--            "property": "fill",-->
<!--            "min": am4core.color("#0000CC"),-->
<!--            "max": am4core.color("#CC00CC"),-->
<!--            "dataField": "value"-->
<!--        });-->

<!--        series.labels.template.url = "https://e367016fe1e844c2b818277d30c8f55c.vfs.cloud9.us-east-1.amazonaws.com/books?tag={word}";-->
<!--        series.labels.template.tooltipText = "{word}: {value}";-->

<!--        const hoverState = series.labels.template.states.create("hover");-->
<!--        hoverState.properties.fill = am4core.color("#FF0000");-->

<!--        const subtitle = chart.titles.create();-->
<!--        subtitle.text = "(click to open)";-->

<!--        const title = chart.titles.create();-->
<!--        title.text = "Most Popular Tags @ StackOverflow";-->
<!--        title.fontSize = 20;-->
<!--        title.fontWeight = "800";-->

    }); // end am4core.ready()
<!--</script>-->
