<% if @book.errors.any? %>
<div class="container px-sm-0">
  <h3 class="text-danger"><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class="container px-sm-0">
  <div class="row">
    <div class="col-md-3 book-side-bar">
      <%= render "layouts/side", user: current_user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Tag検索</h2>
      <%= form_with url: books_path, method: :get, id:'form', local:false do |f| %>
     <!--   <div id="search">-->
　　　　　<!--<div id="all-tags" data-json="<%=  @all_tags.to_json%>"></div>-->
     <!--     <input type="hidden" id="tag-name" class="form-control" v-model="tags" name="content">-->
     <!--     <div class="d-flex flex-wrap align-items-center border rounded py-2 px-1">-->
     <!--       <div class="badge badge-primary badge-pill mr-1" style="font-size: 100%;" v-for="tag in tags">-->
     <!--         {{tag}}<span class="pl-1" type="button"v-on:click="delTag(tag)">×</span>-->
     <!--       </div>-->
     <!--       <input class="border-0" style="outline: 0" type="text" placeholder="複数選択できます" v-model="newTag" v-on:keydown.enter="setTag"-->
     <!--       @input='onInput'>-->
     <!--     </div>-->
     <!--   </div>-->
        <div id="search">
          <div id="all-tags" data-json="<%=  @all_tags.to_json%>"></div>
          <%= javascript_pack_tag 'search_vue' %>
        </div>
        <div class="form-group">
          <%= f.submit "検索", style:'display: none;', id:"search-btn", class:"btn btn-primary" %>
      　</div>
      <% end %>

      <!--<script>-->
      <!--  new Vue ({-->
      <!--    el: '#search',-->
      <!--    data () {-->
      <!--        return {-->
      <!--          newTag: null,-->
      <!--          tags: [],-->
      <!--          allTags: [],-->
      <!--        }-->
      <!--    },-->

      <!--    created: function() {-->
      <!--      this.allTags = JSON.parse(document.getElementById('all-tags').dataset.json);-->
      <!--    },-->

      <!--    methods: {-->
      <!--      setTag: function (event) {-->
      <!--        if (event.keyCode !== 13) return-->
      <!--        let tag = this.newTag;-->
      <!--        this.tags.push(tag);-->
      <!--        this.newTag = '';-->
      <!--      },-->
      <!--      delTag: function(tag) {-->
      <!--        this.tags.splice(this.tags.indexOf(tag), 1);-->
      <!--      },-->
      <!--      onInput({target}) {-->
      <!--        this.newTag = target.value-->
      <!--      },-->
      <!--    },-->

      <!--    computed: {-->
      <!--      filteredTags: function () {-->
      <!--        let filterTags = [];-->
      <!--        for (let i in this.allTags) {-->
      <!--          let tag = this.allTags[i];-->
      <!--          if (tag.indexOf(this.newTag) !== -1) {-->
      <!--            filterTags.push(tag);-->
      <!--          }-->
      <!--        }-->
      <!--  　　　return filterTags;-->
      <!--      }-->
      <!--    },-->

      <!--    watch: {-->
      <!--      tags: function() {-->
      <!--        setTimeout(function() {-->
      <!--          document.getElementById("search-btn").click();-->
      <!--        }, 1)-->
      <!--      }-->
      <!--    }-->
      <!--  })-->
      <!--</script>-->

      <!--<script>-->
      <!--  new Vue ({-->
      <!--    el: '#search',-->
      <!--    data () {-->
      <!--      return {-->
      <!--        content: '',-->
      <!--      }-->
      <!--    },-->

      <!--    methods: {-->
      <!--      onInput({target}) {-->
      <!--        this.content = target.value;-->
      <!--        document.getElementById('title-search').click();-->
      <!--      }-->
      <!--    }-->
      <!--  })-->
      <!--</script>-->

      <h2>Books</h2>
      <div class="sort-bar">
        <%= link_to "新しい順", books_path(sort: 'created_at DESC') %>
        |
        <%= link_to "評価が高い順", books_path(sort: "evaluation DESC") %>
        |
        <%= link_to "いいね順(1週間)", books_path(sort: :favorite_desc) %>
      </div>
      <div class="book-list">
        <%= render 'books/index', books: @books %>
      </div>
    </div>
  </div>
</div>