<div class="container px-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/side", user:@book.user, book:Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="row">
        <h2 class="col-7">Book detail</h2>
        <% if @book.user == current_user %>
          <div class="col-5 text-right">
            <%= link_to "Edit", edit_book_path(@book), class:"btn btn-success btn-sm mr-2" %>
            <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div>

      <div class="container border">
        <div class="row py-2 border-bottom">
          <div class="col-md-2">
            <%= link_to user_path(@book.user) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" %>
            <% end %><br>
            <%= link_to user_path(@book.user) do %>
              <%= @book.user.name %>
            <% end %>
          </div>
          <div class="col-md-2">
              <%= @book.title %>
          </div>
          <div class="col-md-2">
            <%= link_to books_path(category: @book.category) do %>
              <%= @book.category %>
            <% end %>
          </div>
          <div class="col-md-6 text-break">
            <%= @book.body %>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-md-2 favorite-btn<%= @book.id %>">
            <%= render "favorites/favorite", book:@book %>
          </div>

          <div class="col-md">
            コメントの数: <%= @book.post_comments.count %>
          </div>
          <div class="col-md">閲覧数: <%= @book.book_count %></div>

          <div class="col-md-4" id="star_evaluation_<%= @book.id %>">
            <script>
              $('#star_evaluation_<%= @book.id %>').empty();
              $('#star_evaluation_<%= @book.id %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @book.evaluation %>
              });
            </script>
          </div>
        </div>
      </div>

      <div class="comments_area mt-3">
        <%= render "post_comments/comment", book:@book %>
      </div>

      <div class="error">
        <%= render "post_comments/error", obj:@post_comment %>
      </div>

      <div class="form">
        <%= render "post_comments/form", book:@book, post_comment:@post_comment %>
      </div>
    </div>
  </div>
</div>